

.share-button-image {
   width: 38px;
   height: 38px;
}
@media all and (max-width: 800px) {
   .grid-container{
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: flex-start;
      flex-flow: row wrap;
      
   }
   .progress-bar {
      opacity: 0;
   }

   .user-image{
      opacity: 1;
   }
}


